<!-- Use bootstrap progress bar? -->
    {{!-- <div class="progress">
        <!-- Possibly make bar blue (info) until finished? -->
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" 
        aria-valuemin="0" aria-valuemax="100" style="width:40%"> 
            40% Complete
        </div>
    </div> --}}
<!--TODO Need to fix CSS margin error that adds some of progress bar to the left and right. -->
<div class="container">

<!-- This is very hacky, kinda for me to create a space by making  this element -->

{{#each books}}
    <div class="book-box">
        <h3 class="book-name">{{this.title}}</h3>
            <div class="progress col-xs-8">
                 <div class="progress-bar" role="progressbar" aria-valuenow="{{this.percentage}}" 
                 aria-valuemin="0" aria-valuemax="100" style="width:{{this.percentage}}%">
                 <span>{{this.progress}} out of {{this.pages}} pages read!</span>
                 </div>
            </div>
            <div class="col-xs-4">
                <a href="/notes/{{this.id}}" class="book-notes btn btn-default btn-xs">Notes</a>
            </div>
            <br>
    </div>
{{/each}}

</div>

<!--TODO need logic for progress bar here, to get the amount of pages from database and do math --> 