<div>
<!-- Make this modal? Will probably want the notes to show up below the status bar in a list -->

<!-- TODO: Make cursor for page with margin, not flush -->
<h3>{{bookName}}</h3>
{{#if owned}}
<p>This book is in your library!</p>
{{else}}
<p>This book is not in your library</p>
{{/if}}
<button type="button" id="note-button" class="btn btn-info btn-md {{#if demo}}disabled{{/if}}" data-toggle="modal" data-target="#myModal">Create a new note</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Note</h4>
                </div>
                <div class="modal-body">
                    <label>Read to page: </label>
                    <input class="pages form-control" type="number" name="end-page">
                    <textarea class="journal-entry form-control" name="content"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button> 
                </div>
            </div>
        </form>
    </div>
</div>
{{#each note}}
    <div class="panel panel-default">
        <div class="panel-heading journal-post">
            <a class="close {{#if demo}}disabled{{/if}}" href="/notes/{{this.id}}/delete">&times;</a>
            <p>Note Created: {{this.dateCreated}}</p>
            <p>Read to page: {{this.endPage}}<span><a class="edit btn btn-info btn-sm {{#if demo}}disabled{{/if}}" href="/notes/{{this.id}}/edit">Edit</a></span></p>
            

        </div>
        <div class="panel-body journal-post">
            <p class="content">{{this.content}}</p>
        </div>
    </div>
{{/each}}
<script type="text/javascript">
$(document).ready(function() {
    if (window.location.search.length) {
        $( "#note-button" ).trigger("click");
    }
})
//document ready check for jquery in url
//if "?created=true" in url
//lead to modal page
</script>